@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.lin-grad{
  background:linear-gradient( 180deg, rgba(146, 145, 145, 0.073) -59.06%, #EFB60E 65.85%);
  filter: blur(10px);
  transform: rotateX(30deg);
    }

/* .swiper-container::-webkit-scrollbar {
      width: 0;
      height: 0;
    }     */

.im{
      transform: scale(1) ;
      transition: 0.8s;
  }
.im:hover,
.im:focus{
    transform: scale(1.05) ;
}
